In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [26]:
rawdf = pd.read_csv('Turnstile_Usage_Data__2017.csv')
rawdf['DateTime'] = pd.to_datetime(rawdf['Date'] + ' ' + rawdf['Time'], format = '%m/%d/%Y %H:%M:%S')
rawdf['Date'] = pd.to_datetime(rawdf['Date'], format = '%m/%d/%Y')

In [146]:
df = rawdf[(rawdf['DateTime'] > '2017-01-14 00:00:00') & (rawdf['DateTime'] < '2017-02-21 00:00:00')]
#filter df out to include only 1 month prior to V'Day and 1 week after V'D

In [148]:
df['Day_of_Week'] = df['Date'].dt.weekday_name
df['Week_#'] = df['Date'].dt.week
#reorder cols
df.columns = [c.strip() for c in df.columns]
df = df[['Date', 'DateTime', 'Time', 'Day_of_Week', \
         'Week_#', 'C/A', 'Unit', 'SCP', 'Station', \
         'Line Name', 'Division', 'Description', 'Entries', 'Exits']]

df.head(3)

,Date,DateTime,Time,Day_of_Week,Week_#,C/A,Unit,SCP,Station,Line Name,Division,Description,Entries,Exits
385274,2017-01-15,2017-01-15 19:00:00,19:00:00,Sunday,2,A013,R081,01-05-00,49 ST,NQRW,BMT,REGULAR,649,0
385314,2017-01-15,2017-01-15 23:00:00,23:00:00,Sunday,2,A013,R081,01-05-00,49 ST,NQRW,BMT,REGULAR,649,0
385354,2017-01-16,2017-01-16 03:00:00,03:00:00,Monday,3,A013,R081,01-05-00,49 ST,NQRW,BMT,REGULAR,649,0

In [160]:
#filter by top20 station list
#df.Station = [s.strip() for s in df.Station]
top20station = ['14 ST', '34 ST-HERALD SQ', 'CHAMBERS ST', '231 ST', 'HIGH ST', 
                'METROPOLITAN AV', 'CLINTON-WASH AV', '5 AVE', '15 ST-PROSPECT', 
                'UTICA AV', '34 ST-PENN STA', 'GRD CNTRL-42 ST', '23 ST', '14 ST-UNION SQ', 
                'TIMES SQ-42 ST', '42 ST-PORT AUTH', '86 ST', 'FULTON ST', '125 ST', '59 ST COLUMBUS'] 
df = df[df.Station.isin(top20station)]
df.to_csv("Benson_Valentine.csv")

### df here is the ready to go dataframe to use. 

---
**Ivan work below**

In [136]:
Weekgraphdf = df.groupby(['Station', 'Day_of_Week']).sum().reset_index()
Weekgraphdf = Weekgraphdf.drop('Week_#', axis = 1)
Weekgraphdf.head(10)

  Station Day_of_Week       Entries         Exits
0  125 ST      Friday  165328776574   94693756516
1  125 ST      Monday  207221324189  118196289092
2  125 ST    Saturday  201746280831  115722405689
3  125 ST      Sunday  205507466817  117396992070
4  125 ST    Thursday  164401637075   93916423937
5  125 ST     Tuesday  162457230274   92422716316
6  125 ST   Wednesday  168759773101   97292516635
7   14 ST      Friday   84421825827   62870567147
8   14 ST      Monday  104254671540   77232502892
9   14 ST    Saturday   92731983707   71891842957

In [ ]:
x = np.arange(1, 8)
my_xticks = Weekgraphdf.Day_of_Week.tolist()

plt.figure(figsize=(15, 5))
plt.xlabel('Day_of_Week in 2017', fontsize = 15)
plt.ylabel('Total Daily Entries', fontsize = 15)
plt.xticks(x, my_xticks, fontsize = 13, rotation = 45)
plt.yticks(fontsize = 13)
plt.bar(x, Weekgraphdf.Entries);
plt.title('Total Daily Entries vs. Day_of_Week for Station 59 ST', fontsize = 15)
plt.grid()

In [134]:
my_xticks = Weekgraphdf.Day_of_Week.tolist()
my_xticks[:7]

['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']

**Ivan Work Above**